.woocommerce-column__title {
  @include wc-heading-title();
}

.woocommerce ul.order_details {
  padding: 0;
}

.woocommerce .woocommerce-order-details {
  background-color: #f7f3ee;
  padding: 50px;
  @include border-radius(50px);
  max-width: 500px;
}

.woocommerce-order-details__title {
  font-size: 16px;
  font-weight: bold;
  @extend %secondary-color;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
}


.woocommerce .woocommerce-order-details table.shop_table{
  thead {
    .product-total {
      display: none;
    }
    th {
      border-bottom-width: 0;
      padding-top: 0;
    }
  }

  tbody {
    td {
      border-top-width: 0;
      @extend %accent-text-color;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    td.product-name {
      font-size: 14px;
    }

    td.product-total {
      font-size: 15px;
      font-weight: bold;
      text-align: right;
    }

    tr:last-child {
      td {
        padding-bottom: 15px;
      }
    }
  }

  th {
    font-size: 18px;
    text-transform: none;
    padding-left: 0;
    padding-right: 0;
  }
  td {
    padding-left: 0;
    padding-right: 0;
  }

  tfoot {
    th,
    td {
      border-top-style: dashed;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    td {
      text-align: right;
      font-size: 15px;
      font-weight: bold;
      @extend %accent-text-color;
    }


    tr:first-child {
      td {
        font-size: 24px;
        font-weight: bold;
        @extend %secondary-color;
      }
    }

    tr:last-child {
      td {
        font-size: 30px;
      }
    }
  }

}

.woocommerce .woocommerce-customer-details address {
  border: none;
  padding: 0;
}