.g5core-search-popup-bg {
	background-color: #f6f2e9;
	.mfp-content {
		height: 100%;
	}
	button.mfp-close {
		color: #000;
	}
}

.g5core-search-popup {
	@include d-flex();
	@include flex-column();
	height: 100%;
	@include align-items-center();
	@include justify-content-center();

	.g5core-search-form-wrapper {
		width: 100%;
	}

	.g5core-search-form {
		margin: 0 auto 0 auto;
		width: 630px;
		max-width: 90%;

		input[type="search"], button {
			font-size: 16px;
			height: 60px;
			color: #000;
		}

		button {
			font-size: 18px;
			padding-right: 30px;
			i {
				font-weight: 900;
			}
		}

		input[type="search"] {
			border: 2px dotted #4a221a;
			padding-left: 30px;
			@include border-radius(30px);
			@include input-placeholder() {
				color: #000;
			}
		}

		.remove {
			color: #000;
			font-size: 18px;
			i {
				font-weight: 900;
			}
		}

		&.in {
			input[type="search"] {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}


		.select2-container--default.select2-container--default .select2-selection--single {
			border: 2px dotted #4a221a;
		}

	}

	> img {
		margin-bottom: 40px;
	}

	> p {
		color: #4a221a;
		text-align: center;
		margin: 40px 0 0 0;
		max-width: 520px;
	}

	.result {
		background-color: transparent;
		color: #000;
		ul {
			border: 2px dotted #4a221a;
			margin-top: -2px;
			background-color: #f6f2e9;
			padding-bottom: 10px;
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
			li {
				border-top: dotted 1px #4a221a;
				&:first-child {
					border-top-width: 0;
				}
				&:hover {
					background-color: transparent;
					color: #764c24;
				}
			}
		}
	}
}


.g5core-header-customize:not(.no-items)+.g5core-menu-popup-button,
.g5core-header-customize:not(.no-items)+.g5core-primary-menu,
.g5core-menu-popup-button+.g5core-header-customize:not(.no-items),
.g5core-primary-menu+.g5core-header-customize:not(.no-items) {
	margin-left: 35px;
}