.widget_product_categories ul {
	@include widget-archive();
	span.count {
		position: absolute;
		top: 0.5rem;
		right: 0;
		width: 18px;
		height: 18px;
		line-height: 18px;
		text-align: center;
		border-radius: 100%;
		font-size: 0.6875rem;
		@extend %secondary-bg-color;
		color: #fff;
		font-weight: bold;
	}
}


.widget_product_categories {
	select {
		width: 100%;
		max-width: 100%;
	}
}