//@import "alert";
@import "back-to-top";
//@import "page-loading";
//@import "loading";
@import "paging";
@import "category-filter";
//@import "gutter";
//@import "thumbnail";
//@import "tooltip";
@import "breadcrumbs";
@import "social-share";


//slider
.porus.tparrows {
    border: 1px dashed;
    @extend %primary-border-color;
    background-color: transparent;
}
.porus.tparrows:hover {
    @extend %accent-border-color;
}
.porus.tparrows:hover:before{
    @extend %accent-text-color;
    @include border-radius(50%);
}
.porus.tparrows:before {
    @extend %primary-color;
}

//col
.col-stretched-content{
    .vc_column_container>.vc_column-inner{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
