.comments-area {
    margin-top: 57px;
    .comments-title,
    .comment-reply-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 35px;
    }
}

.comment-form {
    font-size: 1rem;
    @extend %clearfix;
    p {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &.form-submit {
            margin-top: 50px;
        }
    }
    a {
        color: inherit;
    }

    .logged-in-as {
        a:hover {
            @extend %heading-color;
        }
    }

    textarea {
        width: 100%;
        display: block;
        padding: 0;
        @include border-radius(0);
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        height: 110px;
    }


    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        input {
            width: 100%;
            padding: 0;
            @include border-radius(0);
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }
    }

    .comment-form-cookies-consent label {
        display: inline;
        margin-left: 5px;
    }

    .mc4wp-checkbox-wp-comment-form {
        input[type=checkbox] {
            margin: 0 5px 0 0;
            position: relative;
            top: 2px;
        }
    }
}

.comment-respond {
    margin-top: 61px;
}




.comment-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    li.comment {
        margin-bottom: $margin_comment_element;
    }

    > li.comment:last-child {
        margin-bottom: 0;
    }

    li.comment + li.comment {
        padding-top: $margin_comment_element;
    }

    .comment-content {
        margin-bottom: 15px;
        font-size: 16px;
        h1, h2, h3, h4, h5, h6 {
            margin-top: 2rem;
        }
        h1, h2, h3, h4, h5, h6 {
            &:first-child {
                margin-top: 0;
            }
        }
        p:last-child {
            margin-bottom: 0;
        }
    }

    ul.children {
        list-style: none;
        padding-left: 0;
        margin-left: 100px;
        margin-top: $margin_comment_element;
        padding-top: $margin_comment_element;
    }
    .comment-meta {
        margin-bottom: 1.125rem;
        @include d-flex();
        @include align-items-center();
        @include flex-wrap();
        .comment-author {
            margin-right: 30px;
        }
        .edit-link {
            margin-left: 1rem;
        }
    }

    .comment-reply-link {
        font-size: 14px;
        font-weight: bold;
        @extend %secondary-color;
        &:hover {
        @extend %accent-text-color;
        }
    }

    li:not(.pingback):not(.trackback){
        .comment-body {
            position: relative;
            padding-left: 100px;
        }
    }
    li.pingback,
    li.trackback{
        margin-bottom: 0.5rem;

        + .comment {
            margin-top: 1.5rem;
        }
    }


    .comment-author {
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 70px;
            @include border-radius(50%);
        }

        .fn
        {
            font-size: 16px;
            font-weight: bold;
            @extend %secondary-color;
            &:hover {
                @extend %accent-text-color;
            }
          > a {
              color: inherit;
          }

        }
        .says {
            display: none;
        }
    }

    .comment-reply-title {
        small {
            a {
                color: inherit;
                text-transform: none;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .comment-metadata {
        font-size: 14px;
        a {
            color: inherit;
        }
    }
}

.comments-pagination {
    margin-top: 2.5rem;
    text-align: right;
}

@include media-xs() {
    .comment-list ul.children {
        margin-left: 20px;
    }
    .comments-area {
        overflow-x: hidden;
    }
}