.clearfix:after {
	@include clearfix;
}
.d-inline-block {
	display: inline-block!important;
}
.d-block {
	display: block!important;
}
.fl {
	float: left!important;
}
.fr {
	float: right!important;
}
.fnone {
	float: none!important;
}