/*--------------------------------------------------------------
## Site layout style
--------------------------------------------------------------*/
#site-wrapper {
    background-color: $color_background_body;
}

#primary-content {
    padding-top: 70px;
    padding-bottom: 120px;
}

#sidebar {
    @include flex(0 0 #{$sidebar_width}#{"%"});
    max-width: #{$sidebar_width}#{"%"};
    padding-left: 35px;
}

body:not(.has-sidebar) {
    #main-content {
        margin-left: auto;
        margin-right: auto;
    }
}

body.has-sidebar {
    #main-content {
        @include flex(0 0 #{100 - $sidebar_width}#{"%"});
        max-width: #{100 - $sidebar_width}#{"%"};
    }
}

body.single-post.no-sidebar {
    #main-content {
        @include flex(0 0 ($container_width * (100 - $sidebar_width)/100));
        max-width: ($container_width * (100 - $sidebar_width)/100);
    }
}

@include media-xl() {
    .container {
        max-width: $container_width;
    }
}

@include media-lg() {
    body.single-post.no-sidebar {
        #main-content {
            @include flex(0 0 900px);
            max-width: 900px;
        }
    }
}

@include media-md() {
    #main-content {
        @include flex(0 0 100%, important);
        max-width: 100% !important;
    }

    #sidebar {
        @include flex(0 0 100%);
        max-width: 100%;
        padding-left: $grid_gutter_width/2;
        margin-top: 2rem;
    }
}

@media (min-width: 1200px) {
    body.g5core__stretched_content {
        .g5core__single-breadcrumbs,
        #primary-content {
            > .container {
                max-width: 95%;
            }
        }
        #sidebar {
            @include flex(0 0 #{$sidebar_stretched_width}#{"%"});
            max-width: #{$sidebar_stretched_width}#{"%"};
        }

        &.has-sidebar {
            #main-content {
                @include flex(0 0 #{100 - $sidebar_stretched_width}#{"%"});
                max-width: #{100 - $sidebar_stretched_width}#{"%"};
            }
        }
    }
}
