.primary-sidebar {
    .widget:last-child {
        margin-bottom: 0;
    }
}

.widget {
    position: relative;
    margin-bottom: 65px;
    font-size: 1rem;
    @extend %clearfix;

    .screen-reader-text {
        display: none;
    }
    .widget-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 35px;
        text-transform: uppercase;
        position: relative;
        a {
            color: inherit;
        }
    }
}

.search-form {
    @include widget-search();
}

.widget_rss ul,
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_meta ul {
    @include widget-meta();
}

.widget_meta ul li,
//.widget_recent_comments ul li.recentcomments,
.widget_recent_entries ul li {
    padding-left: 20px;
    position: relative;

    a {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        @extend %secondary-color;
    }

    &:before {
        font-family: $font_icon;
        content: '\f054';
        font-weight: 400;
        position: absolute;
        left: 0;
        top: 0.5rem;
        font-size: 10px;
    }
}

.widget_archive,
.widget_categories {
    select {
        width: 100%;
        max-width: 100%;
    }
}

/**
* Archive, categories, nav_menu
* ----------------------------------------------------------------------------
*/
.widget_archive ul,
.widget_categories ul,
.widget_nav_menu ul,
.widget_pages ul{
    @include widget-archive();
}


.widget_rss {
    ul {
        .rsswidget {
            display: block;
            font-weight: 700;
        }
        .rss-date {
            font-style: italic;
            font-size: $font_size_xs;
            margin: 0.375rem 0;
            display: block;
        }
    }
}

.widget_tag_cloud {
    .wp-tag-cloud {
        list-style: none;
        padding: 0;
        font-size: 0;
        li {
            margin: 0;
            display: inline-block;
        }
    }
}

.tagcloud {
    @include widget-tag();
}

.widget_calendar {
    caption {
        caption-side: top;
        padding: 0.5rem 1rem;
        background-color: $color_background_tag;
        border: solid 1px;
        @extend %border-color;
        text-transform: uppercase;
        text-align: center;
    }
    td, th {
        padding: 0.3rem;
    }
    thead, tbody {
        td, th {
            text-align: center;
        }
    }
    tfoot {
        td, th {
            border: none;
        }
        #next {
            text-align: right;
        }
    }
}


.wp-block-categories__post-count,
.cat-count {
    position: absolute;
    top: 0.5rem;
    right: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 100%;
    font-size: 0.6875rem;
    @extend %secondary-bg-color;
    color: #fff;
    font-weight: bold;
}