
.gel-pricing {
    margin-top: 2.5rem;
}

.pricing-price-number, .pricing-price-currency {
    margin: 0 !important;
}

.pricing-price-duration {
    @extend %font-primary;
}

.pricing-featured-text {
    border-bottom: 1px solid lighten($color_accent, 10%);
    padding: 9px 0;
    span {
        font-size: $font_size_sm;
        @extend %accent-foreground-color;
    }
}

.pricing-button {
    margin-top: 2rem;
}

.gel-pricing-progress {
    @extend %border-color;
    .pricing-button {
        margin-top: 1.75rem;
        margin-bottom: 3.125rem;
    }
    .pricing-features {
        position: relative;
        margin-top: 0;
        &:before, &:after {
            content: "";
            height: 4px;
            margin-left: -1.5rem;
            margin-right: -1.5rem;
            display: block;
            position: absolute;
        }
        &:before {
            @extend %primary-bg-color;
            z-index: 2;
        }
        &:after {
            background-color: $color_border;
            top: 0;
            right: 0;
            left: 0;
        }
    }
    .pricing-feature {
        @extend %dark-color;
        .list-bullet {
            font-size: 0.5rem;
        }
        &.disable {
            .list-bullet {
                color: $color_text-main !important;
            }
            color: $color_text-main !important;
        }
    }
    .pricing-list {
        margin-top: 2.75rem;
    }
    &.pri-progress-25 {
        .pricing-features:before {
            width: calc(25% + 20px);
        }
    }
    &.pri-progress-50 {
        &.gel-pricing {
            padding-top: 0;
        }
        .pricing-wrap-top {
            @extend %accent-bg-color;
            padding-top: 2.75rem;
            margin: 0 -1.5rem;
        }
        .pricing-name, .pricing-price-number, .pricing-price-currency, .pricing-price-duration {
            @extend %accent-foreground-color;
        }
        .pricing-features:before {
            width: calc(50% + 20px);
        }
    }
    &.pri-progress-100 {
        .pricing-features:before {
            left: 0;
            right: 0;
        }
    }
}

.gel-pricing-line {
    padding: 3rem 1.25rem;
    @extend %border-color;
    .pricing-features {
        &:before {
            content: "";
            height: 1px;
            margin: 2.5rem -1.5rem;
            display: block;
            background-color: $color_border;
            top: 0;
            right: 0;
            left: 0;
        }
    }

}

.gel-pricing-distance {
    .pricing-price {
        margin-bottom: 2.25rem;
    }
}

.gel-pricing-flag {
    &:before {
        content: "";
        width: 0;
        height: 0;
        border-right: 10px solid #f03b42;
        border-left: 10px solid #f03b42;
        border-bottom: 10px solid transparent;
        border-top: 25px solid #f03b42;
        position: absolute;
        top: 0;
        right: 20px;
    }
}

.gel-pricing-style-1, .gel-pricing-style-2, .gel-pricing-style-3 {
    .pricing-image {
        margin-bottom: 2.5rem;
    }
    .pricing-price-number, .pricing-price-currency {
        font-size: 2.5rem;
        @extend %dark-color;
    }
    .pricing-name {
        font-size: 0.75rem;
        @extend %accent-text-color;
    }

    .pricing-price {
        margin-top: 1rem;
    }
}

.gel-pricing-style-1 {
    padding: 2.75rem 1.5rem 3.125rem;
    border-color: transparent;
    .pricing-image {
        margin-top: 0.25rem;
    }
}

.gel-pricing-style-2 {
    padding: 2.75rem 1.5rem;
    .pricing-image {
        margin-top: 0.25rem;
    }
}

.gel-pricing-style-3 {
    border-color: transparent;
    background-color: $color_light;
    padding: 1rem 1.25rem 2.5rem;
    .pricing-desc {
        margin-bottom: 0.5rem;
    }
    .pricing-image {
        margin-top: 1rem;
    }
    .pricing-price {
        margin-top: 1.75rem;
    }
    .pricing-name {
        font-size: 1.625rem;
        @extend %dark-color;
        font-weight: 700;
    }
}

.gel-pricing-style-4 {
    padding: 1.75rem 1.25rem;
    .pricing-price {
        @include d-flex();
        @include justify-content-center();
    }
    .pricing-price-duration {
        @include d-flex();
        @include align-items-end();
    }
    .pricing-image {
        margin-bottom: 1.25rem;
    }
    .pricing-price {
        margin-bottom: 0.75rem;
    }

}

.gel-pricing-style-5 {
    .pricing-price {
        margin-bottom: 1rem;
    }
    .pricing-price-number, .pricing-price-currency {
        font-size: 2.5rem;
        @extend %dark-color;
    }
}